@page
@model IndexModel


@using Microsoft.AspNetCore.Identity
@using RazorPages_Pal_App.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome</h1>
        <h2 class="text-secondary">  
            @User.Identity?.Name
        </h2>
    }
    else
    {
        <h2>User no identificado! </h2>
    }
</div>
