@page
@model RazorPages_Pal_App.Pages.ProductionPages.CreateModel
@{

}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto 0">
            <h2 class="text-center text-success mb-3">Create Production</h2>
            <div class="car text-center">
                @if (Model.Messages!=null)
                {
                    <h3 class="text-center text-danger">
                        @Model.Messages
                    </h3>
                }
                <form name="create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="productionDto.CreationTime" class="control-label"></label>
                        <input asp-for="productionDto.CreationTime" class="form-control" />
                        <span asp-validation-for="productionDto.CreationTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="productionDto.ProductName"  class="control-label"></label>
                        <input asp-for="productionDto.ProductName" class="form-control" />
                        <span asp-validation-for="productionDto.ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="productionDto.Batch" class="control-label"></label>
                        <input asp-for="productionDto.Batch" class="form-control" />
                        <span asp-validation-for="productionDto.Batch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="productionDto.Quantity" class="control-label"></label>
                        <input asp-for="productionDto.Quantity" class="form-control" />
                        <span asp-validation-for="productionDto.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="productionDto.Tank"  class="control-label"></label>
                        <input asp-for="productionDto.Tank" class="form-control" />
                        <span asp-validation-for="productionDto.Tank" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="productionDto.FinalLevel"  class="control-label"></label>
                        <input asp-for="productionDto.FinalLevel" class="form-control" />
                        <span asp-validation-for="productionDto.FinalLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-3">
                        <a href="/ProductionPages/Index" class="btn btn-secondary btn-lg mx-3">Go Back</a>
                        <input type="submit" class="btn btn-lg btn-primary mx-3" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
