@page
@model RazorPages_Pal_App.Pages.ProductionPages.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto 0">
            <h3 text-center>Production </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Tank</th>
                        <th scope="col">Final Level</th>
                        <th scope="col">User</th>
                        <th scope="col">
                            <a href="/ProductionPages/Create" class="btn btn-primary">New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
